@font-face {
    font-family: "Chakra";
    src: url("ChakraPetch-BoldItalic.ttf");
}

*{
    font-family: "Chakra";
}

body{
    background-color: rgb(0, 255, 255);
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    animation-name: none;
    animation: 2s ease forwards;
}

body::-webkit-scrollbar{width: 0px;}
body::-webkit-scrollbar-track{background-color: transparent;}
body::-webkit-scrollbar-thumb{background-color: transparent;}

@keyframes scrollAnimation {
    from{transform: translateX(0%);}
    to{transform: translateX(-35%);}
}

main{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

picture{
    display: flex;
    position: absolute;
    height: 12vh;
    width: 44vw;
    justify-content: center;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .2s ease;
    z-index: 0;
}

h1{
    position: absolute;
    top: 20%;
    animation: aparicion .5s ease forwards;
}

@keyframes aparicion {
    from{opacity: 0;}
    to{opacity: 1;}
}

picture::before{
    content: "";
    position: absolute;
    height: .5vh;
    width: 6vw;
    background-color: rgb(0, 0, 0);
    top: -5%;
    left: 4.7%;
}

picture::after{
    content: "";
    position: absolute;
    height: .5vh;
    width: .5vw;
    background-color: rgb(0, 0, 0);
    top: -5%;
    left: 3%;
}

#bordeSuperior{
    display: flex;
    position: relative;
    height: .5vh;
    width: 33vw;
    background-color: rgb(0, 141, 141);
    top: -53%;
    left: 7.5%;
}

#bordeSuperior::before{
    content: "";
    position: relative;
    height: .5vh;
    width: .2vw;
    background-color: rgb(0, 0, 0);
    left: 100.5%;
}

#bordeSuperior::after{
    content: "";
    position: relative;
    height: .5vh;
    width: .5vw;
    background-color: rgb(0, 0, 0);
    left: 102%;
}

#bordeInferior{
    display: flex;
    position: absolute;
}

#bordesLaterales{
    display: flex;
    position: absolute;
    width: 41vw;
    height: 11.5vh;
    top: -12%;
    border-left: .5vh solid rgb(0, 141, 141);
    border-right: .5vh solid rgb(0, 141, 141);
}

#bordeInferior{
    display: flex;
    position: absolute;
    height: 11vh;
    width: 40vw;
    bottom: -23%;
    border-bottom: .5vh solid rgb(0, 141, 141);
}

progress{
    display: flex;
    position: absolute;
    height: 10vh;
    width: 40vw;
    background-color: rgb(0, 141, 141);
}

progress::-webkit-progress-value{
    height: 10vh;
    background-color: rgb(255, 0, 0);
    transition: all 1s cubic-bezier(0.85, 0.01, 0.18, 0.98);
}

output{
    position: absolute;
    font-size: 4vh;
    bottom: 15%;
    opacity: 0;
    transition: opacity 1s ease;
}

picture p{
    position: absolute;
    font-size: 2.5vh;
    top: -8%;
    opacity: 0;
    transform: scale(.8);
    transition-property: transform opacity;
    transition:  .5s ease;
}

section{
    display: flex;
    position: absolute;
    top: 0;
    left: 15%;
    height: 100vh;
    width: 140vw;
    justify-content: space-around;
    flex-direction: row;
    z-index: 10;
    transition-property: top left transform width;
    transition: 1s ease;
}

div img{
    height: 50vh;
    width: 40vh;
    inset: 0 0;
    position: relative;
    z-index: 12;
    transition-property: height width top left;
    transition: 1s ease;
}

object{
    height: 50vh;
    width: 40vh;
    position: absolute;
    background-color: rgb(0, 0, 0);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 80% 100%, 0 100%);
    z-index: 11;
    transition-property: width height;
    transition: 1s ease;
}

section div{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50vh;
    inset: 50% 0;
    transform: scale(0);
    margin: .02vw;
    z-index: 11;
    transition-property: inset transform;
    transition: .6s cubic-bezier(0.46, 0.01, 0.43, 0.99);
}

#javascriptDiv{left: 35vw;}
#cDiv{left: 70vw;}
#cSharpDiv{left: 105vw;}

span{
    display: flex;
    position: absolute;
    height: 55vh;
    width: 45vh;
    object-fit: cover;
    background-color: rgb(1, 179, 255);
    clip-path: polygon(5% 4%, 95% 4%, 95% 82%, 77% 96%, 5% 96%, 5% 94%, 5% 94%, 5% 20%);
    transition-property: width height;
    transition: 1s ease, clip-path .1s ease;
}

section div:hover span{
    clip-path: polygon(5% 4%, 100% 4%, 100% 78%, 77% 96%, 5% 96%, 3% 94%, 3% 20%, 5% 18%);
}

section p{
    position: absolute;
    width: 40vh;
    font-size: 2vh;
    color: rgb(1, 179, 255);   
    top: 75%;
}

.opacidad{
    animation: opacidad .8s infinite;
}

@keyframes opacidad {
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}

.superPythonDiv{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    transform: translate(-1%, 5%);
    z-index: 12;
    transition: transform 2s cubic-bezier(0.46, 0.01, 0.43, 0.99);
}

.superPythonDiv span{
    display: flex;
    position: absolute;
    height: 55vh;
    width: 45vh;
    background-color: rgb(1, 179, 255);
    clip-path: polygon(5% 4%, 95% 4%, 95% 82%, 77% 96%, 5% 96%, 5% 94%, 5% 94%, 5% 20%);
    transition-property: width height;
    transition: 1s ease, clip-path .1s ease;
}

.superPythonDiv img{
    height: 50vh;
    width: 40vh;
    inset: 0 0;
    position: relative;
    z-index: 12;
    transition-property: height width top left;
    transition: 1s ease;
}

.superPythonDiv object{
    height: 50vh;
    width: 40vh;
    position: absolute;
    background-color: rgb(0, 0, 0);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 80% 100%, 0 100%);
    z-index: 11;
    transition-property: width height;
    transition: 1s ease;
}

.omega {
    transition: inset 1s ease;
    z-index: 10;
}

.omega span{
    height: 155vh;
    width: 130vw;
}

.omega object{
    height: 144vh;
    width: 120vw;
}

.omega img{
    height: 110vh;
    width: 82vh;
}

canvas{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 8;
    background-color: transparent;
    transition: background-color .5s ease;
    inset: 0;
}

video{
    position: fixed;
    height: 120vh;
    width: 120vw;
    transform: scale(0);
    z-index: 0;
}